:root {
  --primary-color: #35cd8f;
  --secondary-color: #244660;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
  font-size: 1.1rem;
  line-height: 1.8rem;
}

.btn {
  font-size: 0.9rem;
  word-spacing: 0.8px;
  letter-spacing: 0.8px;
  padding: 0.8rem 1rem;
}

.primary-bg-color {
  background-color: var(--primary-color);
}
.secondary-bg-color {
  background-color: var(--secondary-color);
}
.primary-text-color {
  color: var(--primary-color);
}
.secondary-text-color {
  color: var(--secondary-color);
}

.hover-primary:hover {
  background-color: rgb(48, 200, 138);
  color: #ffffff;
}
.hover-white:hover {
  background-color: #ffffff;
}

.border-primary {
  border: 1px solid var(--primary-color) !important;
}

.lead-text {
  font-size: 2rem;
  font-weight: 700;
}

header {
  height: 680px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./assets/back2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.section-title {
  font-weight: 600;
  font-size: 2.3rem;
}

.contact-icon {
  font-size: 2.4rem;
}

.prev-image {
  height: 220px;
  object-fit: contain;
}

.prev-title {
  font-weight: 800;
  margin-top: 15px;
}

.prev-subtitle {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.our-services {
  line-height: 2rem;
}

.social-media-container {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 20px;
}

@media screen and (min-width: 576px) {
  .lead-text {
    font-size: 3rem;
  }
  .section-title {
    font-size: 2.9rem;
  }
}
